body{
    width: 852px;
    height: 647px;
    background-color:rgba(158, 177, 187, 1);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.signUpPage{
    width: 320px;
    height: 327px;
    position: relative;
    // text-align: center;
    .emailArea{
        position: relative;
        i{
        position: absolute;
        bottom: 5px;
        left: 5px;
        }
        input{
            // width: 320px;
            width: 90%;
            height: 20px;
            border-radius:10px ; 
            padding-left: 20px;
        }
    }
    .nameArea{
        position: relative;
        i{
        position: absolute;
        bottom: 5px;
        left: 5px;
        }
        input{
            // width: 320px;
            width: 90%;
            height: 20px;
            border-radius:10px ; 
            padding-left: 20px;
        }
    }
    .passwordArea{
        position: relative;
        i{
        position: absolute;
        bottom: 5px;
        left: 5px;
        }
        input{
            // width: 320px;
            width: 90%;
            height: 20px;
            border-radius:10px ; 
            padding-left: 20px;
        }
    }
    .passwordCheckArea{
        position: relative;
        i{
        position: absolute;
        bottom: 5px;
        left: 5px;
        }
        input{
            // width: 320px;
            width: 90%;
            height: 20px;
            border-radius:10px ; 
            padding-left: 20px;
        }
        
    }
    .buttonSignUp{
        display: flex;
        justify-content: center;

        margin-top: 50px;
        .signUpButton{
            width: 100px;
            height: 50px;
        position: relative;
        a{
            width: 100%;
            height: 100%;
        }
        }
    }
}